.header {
    background-color: var(--beigePastelLight);

    height: 15vh;
    padding: 1em;
}

.header>img {
    object-fit: contain;
    max-height: 100%;
}

.divider{
    height: 1.5vh;

    background: linear-gradient(90deg, var(--beigePastelLight),var(--redPastelDark));
}

.btn{
    margin-left: -2em;
}

.iconContainer>*{
    transform: scale(2);
    cursor: pointer;
}