@import url(https://db.onlinewebfonts.com/c/088f292cf151a6e496fc8cdc5441b3e3?family=Lovelo-Black);

:root {
  --greenBg: #edfdec;
  --greenPastelLight: #C3EDC0;
  --greenPastelDark: #5F895D;

  --fontPrimary: "Lovelo-Black", Arial, Helvetica, sans-serif;
}

.titleFont {
  font-family: var(--fontPrimary);
}